nextflow.enable.dsl = 2

report.overwrite = true
timeline.overwrite = true
trace.overwrite = true
trace.fields = 'task_id,hash,native_id,name,status,exit,submit,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar,cpus,memory,time'
dag.overwrite = true

params.input_dir = null
params.remote_input_dir = null
params.input_mode = 'fastq'
params.bam_suffix = '.bam'
params.outdir = 'results'
params.aligner = 'star'
params.read_group_platform = 'ILLUMINA'
params.conda_prefix = ''

params.qc = [
  adapters: "${projectDir}/assets/adapters.fa",
  min_length: 45,
  bbduk_params: 'qtrim=rl trimq=3 maq=25 ktrim=r k=23 mink=11 hdist=1 ftm=5 entropy=0.5 entropywindow=50 entropyk=5 tpe tbo'
]

params.tools = [
  picard_jar: ''
]

params.references = [
  grch38_fasta: '',
  star_index: '',
  hostdir: '',
  t2tref: '',
  kraken_index: '',
  decoys_to_mask: 'None'
]

params.resources = [
  stage_cpus: 1,
  stage_memory: '1 GB',
  stage_time: '8h',
  bam2fastq_cpus: 4,
  bam2fastq_memory: '16 GB',
  bam2fastq_time: '8h',
  fastqc_cpus: 2,
  fastqc_memory: '4 GB',
  fastqc_time: '4h',
  read_qc_cpus: 4,
  read_qc_memory: '32 GB',
  read_qc_time: '8h',
  align_cpus: 8,
  align_memory: '64 GB',
  align_time: '24h',
  prepare_cpus: 1,
  prepare_memory: '2 GB',
  prepare_time: '1h',
  prefilter_cpus: 16,
  prefilter_memory: '64 GB',
  prefilter_time: '24h',
  qcfilter_cpus: 12,
  qcfilter_memory: '64 GB',
  qcfilter_time: '24h',
  qcfilter_ram_gb: 48,
  t2tfilter_cpus: 8,
  t2tfilter_memory: '48 GB',
  t2tfilter_time: '12h',
  classify_cpus: 4,
  classify_memory: '128 GB',
  classify_time: '24h',
  summarize_cpus: 1,
  summarize_memory: '2 GB',
  summarize_time: '1h'
]

params.pathseq = [
  classifiers: 'kraken',
  min_clipped_read_length: 45,
  keep_intermediate: true,
  kraken_args: '',
  metaphlan_index: '',
  bowtie2_index: '',
  metaphlan_args: '',
  sylph_indexes: [],
  sylph_taxonomies: [],
  sylph_args: ''
]

params.bam2fastq = [
  prefer_original_qualities: false
]

params.slurm = [
  queue: '',
  max_jobs: 20
]

params.lsf = [
  queue: '',
  project: '',
  max_jobs: 20
]

process {
  errorStrategy = 'terminate'
  withLabel: stage {
    cpus = params.resources.stage_cpus as int
    memory = params.resources.stage_memory
    time = params.resources.stage_time
  }
  withLabel: bam2fastq {
    cpus = params.resources.bam2fastq_cpus as int
    memory = params.resources.bam2fastq_memory
    time = params.resources.bam2fastq_time
  }
  withLabel: fastqc {
    cpus = params.resources.fastqc_cpus as int
    memory = params.resources.fastqc_memory
    time = params.resources.fastqc_time
  }
  withLabel: read_qc {
    cpus = params.resources.read_qc_cpus as int
    memory = params.resources.read_qc_memory
    time = params.resources.read_qc_time
  }
  withLabel: align {
    cpus = params.resources.align_cpus as int
    memory = params.resources.align_memory
    time = params.resources.align_time
  }
  withLabel: prepare {
    cpus = params.resources.prepare_cpus as int
    memory = params.resources.prepare_memory
    time = params.resources.prepare_time
  }
  withLabel: prefilter {
    cpus = params.resources.prefilter_cpus as int
    memory = params.resources.prefilter_memory
    time = params.resources.prefilter_time
  }
  withLabel: qcfilter {
    cpus = params.resources.qcfilter_cpus as int
    memory = params.resources.qcfilter_memory
    time = params.resources.qcfilter_time
  }
  withLabel: t2tfilter {
    cpus = params.resources.t2tfilter_cpus as int
    memory = params.resources.t2tfilter_memory
    time = params.resources.t2tfilter_time
  }
  withLabel: classify {
    cpus = params.resources.classify_cpus as int
    memory = params.resources.classify_memory
    time = params.resources.classify_time
  }
  withLabel: summarize {
    cpus = params.resources.summarize_cpus as int
    memory = params.resources.summarize_memory
    time = params.resources.summarize_time
  }
}

profiles {
  local {
    process.executor = 'local'
  }

  slurm {
    process.executor = 'slurm'
    executor.queueSize = params.slurm.max_jobs as int
    process.queue = params.slurm.queue ?: null
    process.beforeScript = """
      if [[ -z '${params.conda_prefix}' ]]; then
        echo 'ERROR: --conda_prefix must point to the pathseq-t2t-nextflow environment when using -profile slurm' >&2
        exit 1
      fi
      export PATH='${params.conda_prefix}/bin':\$PATH
      export JAVA_HOME='${params.conda_prefix}/lib/jvm'
    """
  }

  lsf {
    process.executor = 'lsf'
    executor.queueSize = params.lsf.max_jobs as int
    executor.perJobMemLimit = false
    process.queue = params.lsf.queue ?: null
    process.clusterOptions = params.lsf.project ? "-P ${params.lsf.project} -R \"span[hosts=1]\"" : '-R "span[hosts=1]"'
    process.beforeScript = """
      if [[ -z '${params.conda_prefix}' ]]; then
        echo 'ERROR: --conda_prefix must point to the pathseq-t2t-nextflow environment when using -profile lsf' >&2
        exit 1
      fi
      export PATH='${params.conda_prefix}/bin':\$PATH
      export JAVA_HOME='${params.conda_prefix}/lib/jvm'
    """
  }
}
